<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>

    <h2>All Users</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Prize</th>
            <th>Food Quantity</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.prize }}</td>
            <td>{{ user.food_quantity }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>
    <a href="/add">Add New User</a>

</body>
</html>
